<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= @lawyer.name %>,</h1>

    <p>
      Congratulations! Your application to become a panelist on Lawyer-Client Connect has been approved.
    </p>

    <p>
      You can now log in and start accepting cases from clients.
    </p>

    <p>Welcome aboard,<br/>The Lawyer-Client Connect Team</p>
  </body>
</html>
